[submodule "external/metamod-source"]
	path = external/metamod-source
	url = https://github.com/alliedmodders/metamod-source
[submodule "external/plugify"]
	path = external/plugify
	url = https://github.com/untrustedmodders/plugify
[submodule "external/hl2sdk-cs2"]
	path = external/hl2sdk-cs2
	url = https://github.com/Wend4r/hl2sdk.git
	branch = cs2
